code, kbd, .line-number
  font-family "JetBrains Mono", source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace
@font-face
  font-family "JetBrains Mono"
  src url("/font/JetBrainsMono-Regular.woff")

#valine-vuepress-comment {
  max-width: 750px;
  margin: 0 auto;
}
 
 
#valine-vuepress-comment .vheader input[name="link"] {
  display: none;
}
 
#valine-vuepress-comment .vheader .vinput {
  width: 50%;
}